.group
  = f.label :name, t("activerecord.attributes.comment.name", :default => "Name"), :class => :label
  = f.text_field :name, :class => 'text_field'
  <span class="description">Ex: a simple text</span>

.group
  = f.label :email, t("activerecord.attributes.comment.email", :default => "Email"), :class => :label
  = f.text_field :email, :class => 'text_field'
  <span class="description">Ex: a simple text</span>

.group
  = f.label :content, t("activerecord.attributes.comment.content", :default => "Content"), :class => :label
  = f.text_area :content, :class => 'text_area'
  <span class="description">Ex: a simple text</span>

.group
  = f.label :approved, t("activerecord.attributes.comment.approved", :default => "Approved"), :class => :label
  = f.check_box :approved, :class => 'check_box'
  <span class="description">Ex: a simple text</span>

.group.navform.wat-cf
  %button.button{:type => 'submit'}
    = image_tag("web-app-theme/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}")
    = t("web-app-theme.save", :default => "Save")
  = link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}")} #{t("web-app-theme.cancel", :default => "Cancel")}", admin_comments_path, :class => "button"
