- semantic_form_for [:admin, @comment] do |f|
  - f.inputs do
    = f.input :user, :as => :select, :collection => User.find(:all, :select => "id, email as name", :order => "name ASC")
    = f.input :commentable_id, :label => 'Commentable id', :as => :string
    = f.input :commentable_type, :label => 'Commentable type', :as => :string
    = f.input :name, :label => 'Name'
    = f.input :email, :label => 'Email'
    = f.input :content, :label => 'Content'
    = f.input :approved, :label => 'Approved'
  - f.buttons do
    = f.commit_button

