.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", admin_comments_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_comment_path
  .content
    %h2.title #{ t("web-app-theme.all", :default => "All") } Comments
    .inner
      %table.table
        %tr
          %th.first ID
          %th= t("activerecord.attributes.admin_comment.content", :default => t("activerecord.labels.content", :default => "Content"))
          %th= t("activerecord.attributes.admin_comment.user", :default => t("activerecord.labels.user", :default => "User"))
          %th= t("web-app-theme.created_at", :default => "Created at")
          %th.last &nbsp;
        - @comments.each do |comment|
          %tr{:class => cycle("odd", "even")}
            %td= comment.id
            %td= link_to truncate(comment.content, :length => 50), admin_comment_path(comment)
            %td= comment.commenter_name
            %td= comment.created_at
            %td.last
              = link_to t("web-app-theme.show", :default => "Show"), admin_comment_path(comment)
              |
              = link_to t("web-app-theme.edit", :default => "Edit"), edit_admin_comment_path(comment)
              |
              = link_to t("web-app-theme.delete", :default => "Delete"), admin_comment_path(comment), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
      .actions-bar.wat-cf
        .actions
        = will_paginate @comments, :previous_label => t("web-app-theme.previous"), :next_label => t("web-app-theme.next")

- content_for :sidebar, render(:partial => 'sidebar')
