- if @comments.empty?
  %p No comments have been added yet
- else
  %table
    %thead
      %tr
        %th Name
        %th User
        %th Commentable id
        %th Commentable type
        %th Email
        %th Content
        %th Approved
        %td Manage
    %tbody
      - @comments.each do |comment|
        %tr
          %th= comment.name
          %th= comment.commenter_name
          %th= comment.commentable_id
          %th= comment.commentable_type
          %th= comment.email
          %th= comment.content
          %th= comment.approved
          %td 
            = link_to "Edit", edit_admin_comment_path(comment)
            = link_to "Delete", admin_comment_path(comment), :method => "delete", :confirm => "Are you sure?"

= link_to "New Comment", new_admin_comment_path
