- title("Регистрирај се")

.step
  %h2 Регистрирај се

  = semantic_form_for resource, :as => resource_name, :url => registration_path(resource_name) do |f|
    = f.semantic_errors :state
    = f.inputs do
      = f.input :email, :label => t('devise.registrations.email')
      = f.input :password, :as => :password, :label => t('devise.registrations.password')
      = f.input :password_confirmation, :as => :password, :label => t('devise.registrations.password_confirmation')
      = f.buttons do
        = f.commit_button t('devise.registrations.register')

  = render :partial => "shared/devise_links"
