- @commentable ||= commentable

%a{:name => "comments"}

#comments_block
  .form
    = semantic_form_for [@commentable, @comment] do |f|
      = f.semantic_errors :state
      = f.inputs do
        - unless user_signed_in?
          = f.input :name, :label => 'Име', :required => false
          = f.input :email, :label => 'E-mail', :required => false
        = f.input :content, :label => 'Коментар'
        - unless user_signed_in?
          %div{:style => "clear:both"}
            = raw recaptcha_tags
      = f.buttons do
        = f.commit_button "Испрати"

  .comments
    - comments.each do |comment|
      .comment{:class => (official_comment?(comment) ? 'official' : nil)}
        = image_tag comment.commenter_avatar
        %ul
          %li.name= comment.commenter_name
          %li.content= simple_format comment.content
          %li.date
            пред
            = time_ago_in_words(comment.created_at)
