- @commentable ||= commentable

%a{:name => "comments"}

#comments_block

  - if user_signed_in?
    .form
      = semantic_form_for [@commentable, @comment] do |f|
        = f.semantic_errors :state
        = f.inputs do
          - unless user_signed_in?
            = f.input :name, :label => t('problems.name'), :required => false
            = f.input :email, :label => t('problems.email'), :required => false
          = f.input :content, :label => t('comments.comment')
        = f.actions do
          = f.submit t('problems.send')
  - else
    = link_to "Login to comment", new_user_session_path

  .comments
    - comments.each do |comment|
      .comment{:class => (official_comment?(comment) ? 'official' : nil)}
        = image_tag comment.commenter_avatar
        %ul
          %li.name= comment.commenter_name
          %li.content= simple_format comment.content
          %li.date= t('g.ago', :time => time_ago_in_words(comment.created_at))
