- title("Новости")

.main
  %h2 Новости
  - @posts.each do |post|
    .problem
      .desc
        %h4
          = link_to post.title, municipality_post_path(@municipality.slug, post.slug)
        = truncate post.content, :length => 300
        %h6
          = render 'shared/timestamp', :post => post

  = will_paginate @posts

#sidebar
  .sidebar
    %h2 Архива
    %ul.total
      - @archive_items.each do |item|
        %li
          = link_to "#{t('date.month_names')[item[1]]} #{item[0]}", :year => item[0], :month => item[1]

      %li.view_all= link_to t('posts.view_all'), municipality_posts_path(@municipality.slug)
