.problem
  = image_tag problem.photo.url(:s)
  .desc
    %ul.social
      %li
        = link_to "http://twitter.com/home?status=#{CGI.escape(problem.title + ': ' + problem_url(problem) + ' #popravimk')}", :target => "_blank" do
          =image_tag("iconTwitter.png")
          %span Tweet
      %li
        = link_to "http://www.facebook.com/share.php?u=#{CGI.escape(problem_url(problem))}&t=#{problem.title}", :target => "_blank" do
          =image_tag("iconFacebook.png")
          %span Share
    %h4
      %span= link_to problem.municipality.name, problem
      %span= link_to problem.category.name, problem
    = link_to problem.description, problem
    %h6= t('g.ago', :time => time_ago_in_words(problem.created_at))
