- title("Листа на проблеми во општините во Македонија")
- content_for :head do
  = auto_discovery_link_tag(:rss, problems_path(:format => 'rss'))

.main
  %h2
    = t('problems.problems')
    = link_to image_tag("rss.png"), problems_path(:format => 'rss')

  .problems
    %ul
      = render :partial => 'problems/problem', :collection => @problems

    = will_paginate @problems

    .total
      = t('problems.total_found')
      = pluralize @problems.total_entries, t('problems.problem')

#sidebar
  .sidebar
    %h2= t('problems.search')
    = semantic_form_for :s, :url => problems_path, :html => {:method => :get} do |f|
      = f.inputs do
        = f.input :q, :label => t('problems.search'), :input_html => {:value => params[:q], :name => :q}, :wrapper_html => {:class => 'search'}
        %li.advanced= link_to "напредно пребарување"
        = f.input :c, :as => :select, :label => t('problems.category'), :collection => Category.find(:all, :order => "position ASC"), :selected => params[:c].to_i, :input_html => {:name => :c}
        = f.input :m, :as => :select, :label => t('problems.municipality'), :collection => Municipality.find(:all, :order => "name ASC"), :selected => params[:m].to_i, :input_html => {:name => :m}
        = f.input :s, :as => :select, :label => t('problems.status'), :selected => params[:s], :required => false, :input_html => {:name => :s}, :collection => Problem.statuses
        = f.input :month, :as => :select, :label => t('problems.month'), :selected => params[:month].to_i, :required => false, :input_html => {:name => :month}, :collection => get_month_names
        = f.input :year, :as => :select, :label => t('problems.year'), :selected => params[:year].to_i, :required => false, :input_html => {:name => :year}, :collection => Problem.years
        = f.buttons do
          = f.commit_button t('problems.search'), :button_html => {:name => nil}

  .sidebar
    %h2= t('problems.total')
    .total
      = pluralize @total_problems, t('problems.problem')

  .sidebar
    %h2= t('problems.charts')
    %ul.total
      %li
        = link_to t('problems.category'), report_path('category')
      %li
        = link_to t('problems.municipality'), report_path('municipality')
      %li
        = link_to t('problems.status'), report_path('status')

  .sidebar
    %h2= t('problems.categories_most')
    %ul.total
      - @categories.each do |category|
        %li
          = link_to "#{category.name} #{category.problems_count}", "?c=#{category.id}"
