- title("Листа на проблеми во општина #{@municipality.name} во Македонија")

.main
  %h2= "Проблеми во општина #{@municipality.name}"
  = render 'problems', :problems => @problems

#sidebar
  .sidebar
    %h2 Барај
    - semantic_form_for :s, :url => municipality_problems_path(@municipality), :html => {:method => :get} do |f|
      - f.inputs do
        = f.input :q, :label => 'Барај', :input_html => {:value => params[:q], :name => :q}
        = f.input :c, :as => :select, :label => 'Категорија', :collection => Category.find(:all, :order => "position ASC"), :selected => params[:c].to_i, :input_html => {:name => :c}
        - f.buttons do
          = f.commit_button "Барај", :button_html => {:name => nil}

  = render 'categories', :categories => @categories
