- title("Листа на проблеми во општините во Македонија")


.main
  %h2 Проблеми
  - if @problems.empty?
    %p No problems have been reported yet
  - else
    - @problems.each do |problem|
      = render :partial => 'problems/problem', :object => problem

    = will_paginate @problems
  .total
    Вкупно: 
    = pluralize @problems.total_entries, "проблем"

#sidebar

  .sidebar
    %h2 Барај
    - semantic_form_for :search, @search, :url => {:action => :index}, :html => { :method => :get } do |f|
      - f.inputs do
        = f.input :q, :label => 'Барај'
        = f.input :category_id, :as => :select, :label => 'Категорија', :collection => Category.find(:all, :order => "position ASC")
        = f.input :municipality_id, :as => :select, :label => 'Општина', :collection => Municipality.find(:all, :order => "name ASC")
        - f.buttons do
          = f.commit_button "Барај"
  .sidebar
  
    %h2 Општини со највеќе проблеми
    %ul.total
      - @municipalities.each do |municipality|
        %li
          %a
            = municipality.name 
            = municipality.problems_count
