- title("Листа на проблеми во општините во Македонија")
- content_for :head do
  = auto_discovery_link_tag(:rss, problems_path(:format => 'rss'))

.main
  .header
    %h2 Проблеми
    = link_to image_tag("rss.png"), problems_path(:format => 'rss')

  .problems
    = render :partial => 'problems/problem', :collection => @problems

    = will_paginate @problems

    .total
      = t('problems.total_found')
      = pluralize @problems.total_entries, t('problems.problem')

= render :partial => 'sidebar'
