- title("Листа на проблеми во општините во Македонија")


.main
  %h2 Проблеми
  - if @problems.empty?
    %p Сеуште немате пријавено проблеми.
  - else
    - @problems.each do |problem|
      = render :partial => 'problems/problem', :object => problem

    = will_paginate @problems
  .total
    Вкупно: 
    = pluralize @problems.total_entries, "проблем"

#sidebar
  .sidebar
    %h2 За вас
    %ul.problem
      %li Најавени сте како #{current_user.email}

  - if current_user.has_potentially_reported_problems?
    .sidebar
      %h2 Дали сте ги пријавиле?
      %ul.total
        - form_tag take_ownership_problems_path do
          - @potentially_reported_problems.each do |problem|
            %li
              = check_box_tag("problem_ids[#{problem.id}]", '1', true) 
              = label_tag "problem_ids[#{problem.id}]", problem.description
              
          %li.button= submit_tag "Преземи"
