The following problems have been reported with your email address.
Please select which problems have been reported by you to take ownership of them.

- form_tag take_ownership_problems_path do
  - @problems.each do |problem|
    = label_tag "problem_ids[#{problem.id}]", problem.subject
    = check_box_tag("problem_ids[#{problem.id}]", '1', true) 
  = submit_tag "Take ownership"
