- @problem ||= @commentable
- title(@problem.title)
- description(truncate(@problem.description, :length => 100))

.step2
  %ul.social
    %li
      = link_to "http://twitter.com/home?status=#{@problem.title}: #{problem_url(@problem)}", :target => "_blank" do
        =image_tag("iconTwitter.png")
        %span Tweet
    %li
      = link_to "http://www.facebook.com/share.php?u=#{problem_url(@problem)}&t=#{@problem.title}", :target => "_blank" do
        =image_tag("iconFacebook.png")
        %span Share

  .name
    %h2
      = @problem.title

    %h4= t('g.reported_ago', :time => time_ago_in_words(@problem.created_at))

    %p= "#{t('problems.weight')}: #{@problem.weight}"

    %p= t("problems.statuses.#{@problem.status}")

    %p= simple_format @problem.description

  .problem_assets
    #map_canvas
    = image_tag @problem.photo.url(:m)

  %p.official_notes= simple_format @problem.official_notes

  - if user_signed_in?
    %p.if
      = link_to t('g.edit'), edit_user_problem_path(@problem) if current_user == @problem.user

  = render 'comments/comments', :commentable => @problem, :comments => @comments

  :javascript
    var _lat = "#{@problem.latitude}";
    var _lng = "#{@problem.longitude}";

  - content_for :script do
    %script{:type => "text/javascript", :src => "http://maps.google.com/maps/api/js?sensor=false"}
