- title("Проблем со #{@problem.category.name} во општина #{@problem.municipality.name}")
- description(@problem.description)

.step2
  = @problem.description
  = @problem.municipality.name
  = @problem.category.name
  = image_tag @problem.photo.url(:m)

  - if user_signed_in?
    = link_to "Измени", edit_problem_path(@problem) if current_user == @problem.user
  - else
    Ако овој е пријавен од вас, ве молиме 
    = link_to "регистрирајте се", new_registration_path(:user)
    или
    = link_to "најавете се", new_session_path(:user)
    доколку сакате да го измените.

  .share
    = link_to image_tag("twitter.png"), "http://twitter.com/home?status=#{yield(:title)}: #{request.url}", :target => "_blank"
    = link_to image_tag("facebook.png"), "http://www.facebook.com/share.php?u=#{request.url}&t=#{yield(:title)}", :target => "_blank"

  #map_canvas

  :javascript
    var _lat = "#{@problem.latitude}";
    var _lng = "#{@problem.longitude}";

  - content_for :script do
    %script{:type => "text/javascript", :src => "http://maps.google.com/maps/api/js?sensor=false"}
