- title(@problem.title)
- description(truncate(@problem.description, :length => 100))

.step2
  %ul.social
    %li
      - link_to "http://twitter.com/home?status=#{@problem.title}: #{problem_url(@problem)}", :target => "_blank" do
        =image_tag("iconTwitter.png")
        %span Tweet
    %li
      - link_to "http://www.facebook.com/share.php?u=#{problem_url(@problem)}&t=#{@problem.title}", :target => "_blank" do
        =image_tag("iconFacebook.png")
        %span Share
  
  .name
    %h2
      = @problem.municipality.name
      = @problem.category.name
  
    %p= @problem.description
    
  #map_canvas
  = image_tag @problem.photo.url(:m)

  %p.if
    - if user_signed_in?
      = link_to "Измени", edit_problem_path(@problem) if current_user == @problem.user
    - else
      Ако овој проблем е пријавен од вас, ве молиме 
      = link_to "регистрирајте се", new_registration_path(:user)
      или
      = link_to "најавете се", new_session_path(:user)
      доколку сакате да го измените.



  

  %a{:name => "comments"}
  #comments_block
    .form
      - semantic_form_for [@problem, @comment] do |f|
        = f.semantic_errors :state
        - f.inputs do
          - unless user_signed_in?
            = f.input :name, :label => 'Име', :required => false
            = f.input :email, :label => 'E-mail', :required => false
          = f.input :content, :label => 'Коментар'
          - unless user_signed_in?
            %div{:style => "clear:both"}
              = recaptcha_tags
        - f.buttons do
          = f.commit_button "Испрати"
    .comments
      - @comments.each do |comment|
        .comment
          = image_tag comment.commenter_avatar
          %ul
            %li.name= comment.commenter_name
            %li.content= comment.content


  :javascript
    var _lat = "#{@problem.latitude}";
    var _lng = "#{@problem.longitude}";

  - content_for :script do
    %script{:type => "text/javascript", :src => "http://maps.google.com/maps/api/js?sensor=false"}
