- semantic_form_for [:admin, @problem], :html => {:multipart => true} do |f|
  - f.inputs do
    = f.input :description, :label => 'Description'
    = f.input :photo, :as => :file
    = f.input :latitude, :label => 'Latitude'
    = f.input :longitude, :label => 'Longitude'
    = f.input :category, :as => :select, :collection => Category.find(:all, :order => "name ASC")
    = f.input :municipality, :as => :select, :collection => Municipality.find(:all, :order => "name ASC")
    = f.input :email, :label => 'Email'
  - f.buttons do
    = f.commit_button

