%li.first{:class => (params[:filter].blank? ? 'active' : nil)}= link_to "#{t("web-app-theme.list", :default => "List")}", admin_problems_path
%li{:class => (params[:filter] == 'unsent' ? 'active' : nil)}= link_to "#{t("web-app-theme.unsent", :default => "Unsent")}", admin_problems_path(:filter => 'unsent')
%li{:class => (params[:filter] == 'sent' ? 'active' : nil)}= link_to "#{t("web-app-theme.sent", :default => "Sent")}", admin_problems_path(:filter => 'sent')
