- title(t('titles.municipality_welcome_index', :municipality => @municipality.name))

- content_for :head do
  = auto_discovery_link_tag(:rss, municipality_root_path(@municipality.slug, :format => 'rss'))

#sidebar
  - if @post
    .sidebar
      %h2= t('posts.news')
      .blog
        %li
          = link_to @post.title, municipality_post_path(@municipality.slug, @post.slug)
          %span
            = render 'shared/timestamp', :post => @post
          %p
            = truncate strip_tags_with_space(@post.content), :length => 300

        %li.view_all= link_to t('posts.view_all'), municipality_posts_path(@municipality.slug)

  = render 'municipality/problems/search'

- if @contact.present?
  .main#about
    %h2
      За
      = @municipality.name
    %p#basic= @contact.about

    %ul#contact
      %li
        %span Адреса
        = @contact.address
      %li
        %span Телефон
        = @contact.phone
      %li
        %span Веб
        = auto_link @contact.web
      %li
        %span е-маил
        = auto_link @contact.email

.main
  %h2
    = t('problems.problems')
    %span.right= link_to image_tag("rss.png"), municipality_problems_path(@municipality.slug, :format => 'rss')

  .problems
    %ul
      = render :partial => 'problems/problem', :collection => @problems
