- title("Листа на проблеми во општина #{@municipality.name}")
- content_for :head do
  = auto_discovery_link_tag(:rss, municipality_root_path(@municipality.slug, :format => 'rss'))

.main
  .header
    %h2 Проблеми
    = link_to image_tag("rss.png"), municipality_root_path(@municipality.slug, :format => 'rss')

  .problems
    = render :partial => 'problems/problem', :collection => @problems

    = will_paginate @problems

    .total
      = t('problems.total_found')
      = pluralize @problems.total_entries, t('problems.problem')

#sidebar
  - if @post
    .sidebar
      %h2 Блог
      .blog
        %li
          = link_to @post.title, municipality_post_path(@municipality.slug, @post.slug)
          %span
            = render 'shared/timestamp', :post => @post
          %p
            = truncate @post.content, :length => 300

        %li.view_all= link_to t('posts.view_all'), municipality_posts_path(@municipality.slug)

  .sidebar
    %h2= t('problems.search')
    = semantic_form_for :s, :url => municipality_root_path(@municipality.slug), :html => {:method => :get} do |f|
      = f.inputs do
        = f.input :q, :label => t('problems.search'), :input_html => {:value => params[:q], :name => :q}
        = f.input :c, :as => :select, :label => t('problems.category'), :collection => Category.find(:all, :order => "position ASC"), :selected => params[:c].to_i, :input_html => {:name => :c}
        = f.input :s, :as => :select, :label => t('problems.status'), :selected => params[:s], :required => false, :input_html => {:name => :s}, :collection => Problem.statuses
        = f.input :month, :as => :select, :label => t('problems.month'), :selected => params[:month].to_i, :required => false, :input_html => {:name => :month}, :collection => get_month_names
        = f.input :year, :as => :select, :label => t('problems.year'), :selected => params[:year].to_i, :required => false, :input_html => {:name => :year}, :collection => Problem.years
        = f.buttons do
          = f.commit_button t('problems.search'), :button_html => {:name => nil}

  .sidebar
    %h2= t('problems.total')
    .total
      = pluralize @total_problems, t('problems.problem')
