- title(t('devise.passwords.change_title'))

%h2.main_title.wrap600= t('devise.passwords.change_your_password')
.step

  = semantic_form_for resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put } do |f|
    = f.inputs do
      = f.input :reset_password_token, :as => :hidden
      = f.input :password, :as => :password, :label => t('devise.passwords.password')
      = f.input :password_confirmation, :as => :password, :label => t('devise.passwords.password_confirmation')
    = f.buttons do
      = f.commit_button t('devise.passwords.change_my_password')

  = render :partial => "shared/devise_links"
