- title("Поставки")

.step
  %h2 Поставки

  - semantic_form_for resource_name, resource, :url => registration_path(resource_name), :html => { :method => :put } do |f|
    = f.semantic_errors :state
    - f.inputs do
      = f.input :email, :label => 'E-mail'
      = f.input :name, :label => 'Име и презиме', :required => false
      = f.input :password, :as => :password, :label => 'Лозинка'
      %i (оставете празно ако не сакате да ја промените)
      = f.input :password_confirmation, :as => :password, :label => 'Потврда на лозинка'
      = f.input :current_password, :as => :password, :label => 'Тековна лозинка'
      %i (потребно е да ја внесете вашата тековна лозинка за да се потврдат измените)
      - f.buttons do
        = f.commit_button 'Измени'

  #delete
    %h3 Откажи ја твојата сметка
    %p
      #{link_to "Откажи", registration_path(resource_name), :confirm => "Дали сакаш твојата сметка да биде избришана?", :method => :delete}
