.sidebar
  %h2= t('problems.search')
  = semantic_form_for :s, :url => municipality_problems_path(@municipality.slug), :html => {:method => :get} do |f|
    = f.inputs do
      = f.input :q, :label => t('problems.search'), :input_html => {:value => params[:q], :name => :q}, :wrapper_html => { :class => "search"}
      %li.advanced{:class => advanced_search ? nil : 'hidden'}
        %ul
          = f.input :c, :as => :select, :label => t('problems.category'), :collection => Category.find(:all, :order => "position ASC"), :selected => params[:c].to_i, :input_html => {:name => :c}
          = f.input :s, :as => :select, :label => t('problems.status'), :selected => params[:s], :required => false, :input_html => {:name => :s}, :collection => Problem.statuses
          = f.input :month, :as => :select, :label => t('problems.month'), :selected => params[:month].to_i, :required => false, :input_html => {:name => :month}, :collection => get_month_names
          = f.input :year, :as => :select, :label => t('problems.year'), :selected => params[:year].to_i, :required => false, :input_html => {:name => :year}, :collection => Problem.years
      .advanced{:class => advanced_search ? nil : 'hidden'}
        = f.buttons do
          = f.commit_button t('problems.search'), :button_html => {:name => nil}
      %li.advanced{:class => advanced_search ? 'hidden' : nil}= link_to t('problems.advanced_search'), '#', :id => 'advanced_search'
      %li.advanced{:class => advanced_search ? nil : 'hidden'}= link_to t('problems.simple_search'), '#', :id => 'simple_search'
