.wrapper
  %h2.main_title Пријави проблем
  - content_for :script do
    %script{:type => "text/javascript", :src => "http://maps.google.com/maps/api/js?sensor=false"}
  = semantic_form_for @problem, :url => url, :html => {:multipart => true} do |f|
    = f.semantic_errors :state
    .step1
      .left
        #map_buttons
          %h2= t('problems.mark_location_on_map')

          = text_field_tag :address
          = link_to t('problems.search_address'), "#", :id => "search_address" 

        #geocode_results
      #map
        %p= t('problems.map_description')
        = link_to t('problems.delete_marker'), "#", :id => "delete_marker"
        #map_canvas

    .step2
      = f.inputs do
        = f.input :photo, :as => :file, :label => t('problems.problem_photo'), :required => false
        = f.input :latitude, :label => 'Latitude', :as => :hidden
        = f.input :longitude, :label => 'Longitude', :as => :hidden
        = f.input :category, :as => :select, :label => t('problems.category'), :collection => Category.find(:all, :order => "position ASC")
        = f.input :municipality, :as => :select, :label => t('problems.municipality'), :collection => Municipality.find(:all, :order => "name ASC")
        - unless current_user
          = f.input :email, :label => t('problems.email'), :required => false
      = f.inputs do
        <div id="slider"></div>
        = f.input :weight, :label => false#, :input_html => { :disabled => true }
        = f.input :description, :label => t('problems.description')
      - unless user_signed_in?
        %div{:style => "clear:both"}
          = raw recaptcha_tags
      = f.buttons do
        = f.commit_button @problem.new_record? ? t('problems.report_problem') : t('problems.update_problem')

