- title(t('homepage.title'))

#header
  .wrapper
    %a{:href => "/", :id => "logo"}
      =image_tag('logo.png')

    #slogan
      // proveri!
      //%h2= t('homepage.title')
      
      %h2 Смени го градот
      %p= raw t('homepage.info', :link => link_to(t('g.read_more'), '/posts/podobri-go-svojot-grad'))
        
      = link_to new_problem_path, :id => "report" do
        Пријави проблем
        
      = link_to 'http://www.appbrain.com/app/mk.popravi.mobile', :id => "download", :target => '_blank' do
        Преземи за Андроид

#wtf
  .wrapper
    .third
      = image_tag "tour1.png"
      %h2 Пронајди!
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.
    .third
      = image_tag "tour2.png"
      %h2 Пријави!
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
    .third
      = image_tag "tour3.png"
      %h2 Поправи!
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.

#middle
  .wrapper
    .main
    #sidebar