- title("Дома")

.main
  %h2 Последни пријави
  - @problems.each do |problem|
    = render :partial => 'problems/problem', :object => problem

#sidebar
  .sidebar
    %h2 Блог
    .blog
      %li
        - if @post
          = link_to @post.title, post_path(@post.slug)
          %span
            = render 'posts/timestamp', :post => @post
          %p
            = truncate @post.content, :length => 300

  .sidebar
    %h2 Општини со најмногу проблеми
    %ul.total
      - @municipalities.each do |municipality|
        %li
          = link_to "#{municipality.name} #{municipality.problems_count}", municipality_path(municipality.slug)
      %li.view_all= link_to t('municipalities.view_all'), municipalities_path


  .sidebar
    %h2 Twitter
    #tweets
