
.group
  = f.label :region_id, t("activerecord.attributes.municipality.region_id", :default => "Region"), :class => :label
  = f.collection_select :region_id, Region.find(:all, :order => "name ASC"), :id, :name, :html => {:class => 'text_field'}
  <span class="description">Ex: a simple text</span>

.group
  = f.label :name, t("activerecord.attributes.municipality.name", :default => "Name"), :class => :label
  = f.text_field :name, :class => 'text_field'
  <span class="description">Ex: a simple text</span>

.group.navform.wat-cf
  %button.button{:type => 'submit'}
    = image_tag("web-app-theme/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}")
    = t("web-app-theme.save", :default => "Save")
  = link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}")} #{t("web-app-theme.cancel", :default => "Cancel")}", admin_municipalities_path, :class => "button"
