.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to t("web-app-theme.list", :default => "List"), moderator_comments_path
      %li.active= link_to t("web-app-theme.show", :default => "Show"), moderator_comment_path
  .content
    .inner
      %p
        <b>#{ t("activerecord.attributes.admin_comment.commentable_id", :default => t("activerecord.labels.commentable_id", :default => "Commentable")) }:</b>
        = @comment.commentable.try(:description)
      %p
        <b>#{ t("activerecord.attributes.admin_comment.content", :default => t("activerecord.labels.content", :default => "Content")) }:</b>
        = @comment.content
      %p
        <b>#{ t("activerecord.attributes.admin_comment.approved", :default => t("activerecord.labels.approved", :default => "Approved")) }:</b>
        = @comment.approved
      .wat-cf
        = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_moderator_comment_path(@comment), :class => "button"
        = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), moderator_comment_path(@comment), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"

- content_for :sidebar, render(:partial => 'sidebar')
