.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", moderator_posts_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_moderator_post_path
  .content
    %h2.title #{ t("web-app-theme.all", :default => "All") } Posts
    .inner
      %table.table
        %tr
          %th.first ID
          %th= t("activerecord.attributes.post.user", :default => t("activerecord.labels.user", :default => "User"))
          %th= t("activerecord.attributes.post.title", :default => t("activerecord.labels.title", :default => "Title"))
          %th= t("activerecord.attributes.post.published", :default => t("activerecord.labels.published_at", :default => "Published at"))
          %th= t("activerecord.attributes.post.published_at", :default => t("activerecord.labels.published_at", :default => "Published at"))
          %th= t("activerecord.attributes.post.comments_closed", :default => t("activerecord.labels.comments_closed", :default => "Comments closed"))
          %th= t("web-app-theme.created_at", :default => "Created at")
          %th.last &nbsp;
        - @posts.each do |post|
          %tr{:class => cycle("odd", "even")}
            %td= post.id
            %td= post.user.try(:name)
            %td= link_to post.title, moderator_post_path(post)
            %td= post.published
            %td= post.published_at
            %td= post.comments_closed
            %td= post.created_at
            %td.last
              = link_to t("web-app-theme.show", :default => "Show"), moderator_post_path(post)
              |
              = link_to t("web-app-theme.edit", :default => "Edit"), edit_moderator_post_path(post)
              |
              = link_to t("web-app-theme.delete", :default => "Delete"), moderator_post_path(post), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
      .actions-bar.wat-cf
        .actions
        = will_paginate @posts

- content_for :sidebar, render(:partial => 'sidebar')
