- title(t('titles.user_problems_index'))

.main
  %h2.main_title= t('problems.my_reported_problems')

  .problems
    = render :partial => 'problems/problem', :collection => @problems

    = will_paginate @problems

    .total
      #{t('problems.total')}:
      = pluralize @problems.total_entries, t('problems.problem')

#sidebar
  .sidebar
    %h2= t('user.about')
    %ul.problem
      %li= t('user.logged_in_as', :name => current_user.email)
