.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to t("web-app-theme.list", :default => "List"), admin_countries_path
      %li= link_to t("web-app-theme.new", :default => "New"), new_admin_country_path
      %li.active= link_to t("web-app-theme.show", :default => "Show"), admin_country_path
  .content
    .inner
      %p
        <b>#{ t("activerecord.attributes.admin_country.name", :default => t("activerecord.labels.name", :default => "Name")) }:</b>
        = @country.name
      .wat-cf
        = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_admin_country_path(@country), :class => "button"
        = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), admin_country_path(@country), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"

- content_for :sidebar, render(:partial => 'sidebar')
