- title("Промена на лозинка")

.step
  %h2 Променете ја вашата лозинка

  - semantic_form_for resource_name, resource, :url => password_path(resource_name), :html => { :method => :put } do |f|
    - f.inputs do
      = f.input :reset_password_token, :as => :hidden
      = f.input :password, :as => :password, :label => 'Лозинка'
      = f.input :password_confirmation, :as => :password, :label => 'Потврда на лозинка'
    - f.buttons do
      = f.commit_button 'Промени ја мојата лозинка'

  = render :partial => "shared/devise_links"
