- title(@commentable.title)
- description(truncate(@commentable.content, :length => 100))

.main.step3
  .name
    %h2
      = @commentable.title
      %span.inline_date= render 'shared/timestamp', :post => @commentable
    = raw @commentable.content
    
  = render 'comments/comments', :commentable => @commentable, :comments => @comments
  
#sidebar
  .sidebar
    %h2 Минати новости
    %ul.total
      %li
        = link_to "Наслов на мината новост", ""

      %li.view_all= link_to t('posts.view_all'), posts_path