.step
  %p= t('devise.passwords.mail.hello', :email => @resource.email)

  %p= t('devise.passwords.mail.text1')

  %p= link_to t('devise.passwords.mail.change_my_password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)

  %p= t('devise.passwords.mail.text2')

  %p= t('devise.passwords.mail.text3')

  %p
    \--
    %br/
    http://popravi.mk
