.group
  = f.label :name, t("activerecord.attributes.user.name", :default => "Name"), :class => :label
  = f.text_field :name, :class => 'text_field'
  <span class="description">Ex: a simple text</span>

.group
  = f.label :role, t("activerecord.attributes.user.role", :default => "Role"), :class => :label
  = f.text_field :role, :class => 'text_field'
  <span class="description">Ex: a simple text</span>

.group
  = f.label :email, t("activerecord.attributes.user.email", :default => "Email"), :class => :label
  = f.text_field :email, :class => 'text_field'
  <span class="description">Ex: a simple text</span>

.group
  = f.label :password, t("activerecord.attributes.user.password", :default => "Password"), :class => :label
  = f.text_field :password, :class => 'text_field'
  <span class="description">Ex: a simple text</span>

.group
  = f.label :password_confirmation, t("activerecord.attributes.user.password_confirmation", :default => "Password confirmation"), :class => :label
  = f.text_field :password_confirmation, :class => 'text_field'
  <span class="description">Ex: a simple text</span>

.group.navform.wat-cf
  %button.button{:type => 'submit'}
    = image_tag("web-app-theme/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}")
    = t("web-app-theme.save", :default => "Save")
  = link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}")} #{t("web-app-theme.cancel", :default => "Cancel")}", admin_users_path, :class => "button"
