.block
  .secondary-navigation
    %ul.wat-cf
      = render :partial => 'list'
      %li= link_to t("web-app-theme.new", :default => "New"), new_admin_user_path
      %li.active= link_to t("web-app-theme.show", :default => "Show"), admin_user_path
  .content
    .inner
      %p
        <b>#{ t("activerecord.attributes.user.name", :default => t("activerecord.labels.name", :default => "Name")) }:</b>
        = @user.name
      %p
        <b>#{ t("activerecord.attributes.user.is_admin", :default => t("activerecord.labels.is_admin", :default => "Is admin")) }:</b>
        = @user.is_admin
      %p
        <b>#{ t("activerecord.attributes.user.municipality", :default => t("activerecord.labels.municipality", :default => "Municipality")) }:</b>
        = @user.municipality.try(:name)
      %p
        <b>#{ t("activerecord.attributes.user.problems_count", :default => t("activerecord.labels.problems_count", :default => "Problems count")) }:</b>
        = @user.problems_count
      %p
        <b>#{ t("activerecord.attributes.user.email", :default => t("activerecord.labels.email", :default => "Email")) }:</b>
        = @user.email
      %p
        <b>#{ t("activerecord.attributes.user.confirmed_at", :default => t("activerecord.labels.confirmed_at", :default => "Confirmed at")) }:</b>
        = @user.confirmed_at
      %p
        <b>#{ t("activerecord.attributes.user.confirmation_sent_at", :default => t("activerecord.labels.confirmation_sent_at", :default => "Confirmation sent at")) }:</b>
        = @user.confirmation_sent_at
      %p
        <b>#{ t("activerecord.attributes.user.sign_in_count", :default => t("activerecord.labels.sign_in_count", :default => "Sign in count")) }:</b>
        = @user.sign_in_count
      %p
        <b>#{ t("activerecord.attributes.user.current_sign_in_at", :default => t("activerecord.labels.current_sign_in_at", :default => "Current sign in at")) }:</b>
        = @user.current_sign_in_at
      %p
        <b>#{ t("activerecord.attributes.user.last_sign_in_at", :default => t("activerecord.labels.last_sign_in_at", :default => "Last sign in at")) }:</b>
        = @user.last_sign_in_at
      %p
        <b>#{ t("activerecord.attributes.user.current_sign_in_ip", :default => t("activerecord.labels.current_sign_in_ip", :default => "Current sign in ip")) }:</b>
        = @user.current_sign_in_ip
      %p
        <b>#{ t("activerecord.attributes.user.last_sign_in_ip", :default => t("activerecord.labels.last_sign_in_ip", :default => "Last sign in ip")) }:</b>
        = @user.last_sign_in_ip
      %p
        = image_tag @user.avatar.url(:s)
      .wat-cf
        = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_admin_user_path(@user), :class => "button"
        = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), admin_user_path(@user), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"

- content_for :sidebar, render(:partial => 'sidebar')
