.group
  = f.label :official_notes, t("activerecord.attributes.problem.official_notes", :default => "Official notes"), :class => :label
  = f.text_area :official_notes, :class => 'text_area'
  <span class="description">Official notes about problem resolution</span>

.group
  = f.label :status, t("activerecord.attributes.problem.status", :default => "Status"), :class => :label
  = f.select :status, Problem::statuses

.group.navform.wat-cf
  %button.button{:type => "submit"}
    = image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}")
    = t("web-app-theme.save", :default => "Save")
  %span.text_button_padding= t("web-app-theme.or", :default => "or")
  = link_to t("web-app-theme.cancel", :default => "Cancel"), moderator_problems_path, :class => "text_button_padding link_button"
