.block
  .secondary-navigation
    %ul.wat-cf
      %li= link_to "#{t("web-app-theme.list", :default => "List")}", moderator_problems_path
      %li.active= link_to t("web-app-theme.show", :default => "Show"), moderator_problems_path(@problem)
  .content
    .inner
      %p
        <b>#{ t("activerecord.attributes.problem.user", :default => t("activerecord.labels.user", :default => "User")) }:</b>
        = @problem.user.try(:name)
      %p
        <b>#{ t("activerecord.attributes.problem.category", :default => t("activerecord.labels.category", :default => "Category")) }:</b>
        = @problem.category.try(:name)
      %p
        <b>#{ t("activerecord.attributes.problem.municipality", :default => t("activerecord.labels.municipality", :default => "Municipality")) }:</b>
        = @problem.municipality.try(:name)
      %p
        <b>#{ t("activerecord.attributes.problem.description", :default => t("activerecord.labels.description", :default => "Description")) }:</b>
        = @problem.description
      %p
        <b>#{ t("activerecord.attributes.problem.official_notes", :default => t("activerecord.labels.official_notes", :default => "Official notes")) }:</b>
        = @problem.official_notes
      %p
        <b>#{ t("activerecord.attributes.problem.status", :default => t("activerecord.labels.status", :default => "Status")) }:</b>
        = t("problems.statuses.#{@problem.status}")
      %p
        <b>#{ t("activerecord.attributes.problem.latitude", :default => t("activerecord.labels.latitude", :default => "Latitude")) }:</b>
        = @problem.latitude
      %p
        <b>#{ t("activerecord.attributes.problem.longitude", :default => t("activerecord.labels.longitude", :default => "Longitude")) }:</b>
        = @problem.longitude
      %p
        <b>#{ t("activerecord.attributes.problem.weight", :default => t("activerecord.labels.weight", :default => "Weight")) }:</b>
        = @problem.weight
      %p
        = image_tag @problem.photo.url(:m)

      .wat-cf
        = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_moderator_problem_path(@problem), :class => "button"
        = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), moderator_problem_path(@problem), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"

- content_for :sidebar, render(:partial => 'sidebar')
