#bottom
  .wrapper.border
    .two-thirds
      %h2 За Поправи.мк
      %p PopraviMK е сервис кој им овозможува на граѓаните да помогнат во откривање на проблеми настанати на јавна површина. Со нивно споделување граѓаните им помагаат на општините побрзо и поефикасно да ги отстранат.
      = image_tag "vip_logo.png"
      = image_tag "metamorfozis.png"
    .third
      %h2 Стани дел
      %p
        На свој начин придонеси кон подобрување на сервисот и неговата промоција. Сите идеи и предлози испрати ги на
        %span= mail_to "info@popravi.mk"
        
      
  .wrapper
    .left
      %p
        Created by
        %span
          = link_to 'Dalibor Nasevic', 'http://twitter.com/blackflasher', :target => '_blank'
        &
        %span
          = link_to 'Dime Pashoski', 'http://twitter.com/exterminateart', :target => '_blank'
        //= ", Copyright 2010 - #{Time.now.year}"

    .right
      = link_to 'Twitter', 'http://twitter.com/PopraviMK', :target => '_blank'
      &nbsp;
      = link_to 'Facebook', 'http://www.facebook.com/pages/Popravi-podobri-go-svojot-grad/150464501635940', :target => '_blank'
      &nbsp;
      = mail_to 'info@popravi.mk', t('menu.contact')
