!!!
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %head
    
    %meta{"http-equiv" => "content-type", :content => "text/html;charset=UTF-8"}
    %title= "#{yield(:title)} :: popravi.mk"
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    
    <meta name="keywords" content="#{yield(:keywords)}" />
    <meta name="description" content="#{yield(:description)}" />
    = yield(:head)
    
    = stylesheet_link_tag 'formtastic', 'compiled/screen.css', :media => 'screen, projection', :cache => true
    
  %body{:id => controller.controller_name + "_" + controller.action_name}
    #dashed
    #top
      .wrapper
        #header
          #logo
            %a{:href => "/"}
              =image_tag("logo.png")
              //Поправи
              //%br
              //%span смени го градот
          %ul#user_nav
            - if user_signed_in?
              %li= link_to "мои пријави", my_problems_path
              %li= link_to "администрација", admin_root_path if current_user.is_admin?
              //%li Најавени сте како #{current_user.email}
              %li= link_to "поставки", edit_user_registration_path
              %li= link_to "одјави се", destroy_user_session_path
            - else
              %li= link_to "регистрација", new_user_registration_path
              %li= link_to "најава", new_user_session_path

          %ul#app_nav
            %li.report= link_to "Пријави проблем", new_problem_path
            %li.list= link_to "Преглед", problems_path
            %li= link_to "Блог", posts_path
        
        #action
          #slogan
            %h2 Подобри го својот град
            %p Пријавувај проблеми со инфраструктурата на твојот град и помогни им на општините побрзо и поефикасно да ги отстранат истите.
          #report
            - link_to new_problem_path do
              Пријави
              %br
              %span проблем
          #download
            - link_to "http://www.appbrain.com/app/mk.popravi.mobile", :target => '_blank' do
              Преземи
              %br
              %span за Android

    #middle
      .wrapper
        - flash.each do |key, msg|
          = content_tag :div, msg, :id => key
        = yield
    
    #bottom
      .wrapper
        .left
          %p 
            Created by 
            %span
              = link_to "Dalibor Nasevic", "http://twitter.com/blackflasher", :target => "_blank"
            &
            %span
              = link_to "Dime Pashoski", "http://twitter.com/exterminateart", :target => "_blank"
            , Copyright 2010
        
        .right
          = mail_to "info@popravi.mk", "Контакт"
        
    = javascript_include_tag 'jquery/jquery-1.4.2.min'
    = yield :script
    = javascript_include_tag :all, :cache => true
    = render :partial => "shared/ga"
