!!!
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %head
    %title popravi.mk
    = stylesheet_link_tag :all
    = stylesheet_link_tag 'compiled/grid.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/text.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    
  %body{:id => controller.controller_name + "_" + controller.action_name}
    #top
      .wrapper
        #header
          #logo
            %a{:href => "/"}
              Поправи
              %br
              %span смени го градот
          #user_nav
            - if user_signed_in?
              = link_to "My problems", my_problems_path
              = link_to "Admin", admin_root_path if current_user.is_admin?
              Signed in as #{current_user.email}. Not you?
              = link_to "одјави се", destroy_user_session_path
            - else
              #{link_to "регистрирај се", new_user_registration_path} или #{link_to "најави се", new_user_session_path}

          #app_nav
            = link_to "Пријави проблем", new_problem_path
            = link_to "Преглед", problems_path
        
        #action
          #slogan
            %h2 Поправи го својот град
            %p Пријавувај проблеми со инфраструктурата на твојот град и помогни им на општините побрзо и поефикасно да ги отстранат истите.
          #download
            - link_to "http://www.appbrain.com/app/mk.popravi.mobile", :target => '_blank' do
              Превземи
              %br
              %span за Android
          #report
            - link_to new_problem_path do
              Пријави
              %br
              %span проблем
          


      - flash.each do |key, msg|
        = content_tag :div, msg, :id => key
    #middle
      = yield
    
    #bottom
      .wrapper
        .left
          %p 
            Created by 
            %span
              = link_to "Dalibor Nasevic", "http://dalibornasevic.com", :target => "_blank"
            &
            %span
              = link_to "Dime Pashoski", "http://detrimental.com.mk", :target => "_blank"
            , Copyright 2010
        
        .right
          = mail_to "info@popravi.mk", "Контакт"
        
      
      
    = javascript_include_tag 'jquery/jquery-1.4.2.min'
    = yield :script
    = javascript_include_tag :all, :cache => true



