!!!
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %head

    %meta{"http-equiv" => "content-type", :content => "text/html;charset=UTF-8"}
    %title= "#{yield(:title)} :: popravi.mk"
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />

    <meta name="keywords" content="#{yield(:keywords)}" />
    <meta name="description" content="#{yield(:description)}" />
    = yield(:head)

    = stylesheet_link_tag 'formtastic', 'ui-lightness/jquery-ui-1.8.10.custom.css', 'compiled/screen.css', :media => 'screen, projection', :cache => 'application_cached'

    = csrf_meta_tag

  %body{:id => body_id}
    #dashed
    #top
      .wrapper
        #header
          #logo
            %a{:href => "/"}
              =image_tag('logo.png')
              //Поправи
              //%br
              //%span смени го градот
          %ul#user_nav
            - if user_signed_in?
              %li= link_to t('menu.my_reports'), user_problems_path
              %li= link_to t('menu.administration'), admin_root_path if current_user.is_admin?
              %li= link_to t('menu.settings'), edit_user_registration_path
              %li= link_to t('menu.sign_out'), destroy_user_session_path
            - else
              %li= link_to t('menu.sign_up'), new_user_registration_path
              %li= link_to t('menu.sign_in'), new_user_session_path

          %ul#app_nav
            %li.report= link_to t('menu.report_problem'), new_problem_path
            %li.list= link_to t('menu.problems'), municipality_root_path(@municipality.slug)
            %li= link_to t('menu.blog'), municipality_posts_path(@municipality.slug)

        #action
          #slogan
            %h2= t('homepage.title')
            %p= raw t('homepage.info', :link => link_to(t('g.read_more'), '/posts/podobri-go-svojot-grad'))
              
          #report
            = link_to new_problem_path do
              = t('problems.report')
              %br
              %span= t('problems.a_problem')
          #download
            = link_to 'http://www.appbrain.com/app/mk.popravi.mobile', :target => '_blank' do
              = t('g.download')
              %br
              %span= t('g.for_android')

        #vip
          = link_to '/posts/popravimk-pobednik-na-vip-predizvikot' do
            = image_tag "vip.png"

    #middle
      .wrapper
        - flash.each do |key, msg|
          = content_tag :div, msg, :id => key
        = yield

    #bottom
      .wrapper
        .left
          %p
            Created by
            %span
              = link_to 'Dalibor Nasevic', 'http://twitter.com/blackflasher', :target => '_blank'
            &
            %span
              = link_to 'Dime Pashoski', 'http://twitter.com/exterminateart', :target => '_blank'
            = ", Copyright 2010 - #{Time.now.year}"

        .right
          = link_to 'Twitter', 'http://twitter.com/PopraviMK', :target => '_blank'
          &nbsp;
          = link_to 'Facebook', 'http://www.facebook.com/pages/Popravi-podobri-go-svojot-grad/150464501635940', :target => '_blank'
          &nbsp;
          = mail_to 'info@popravi.mk', t('menu.contact')

    = javascript_include_tag 'jquery-1.4.4.min', 'jquery-ui-1.8.10.custom.min.js', 'rails', 'application', :cache => 'application_cached'
    = yield :script
    = render :partial => "shared/ga"
