!!!
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %head

    %meta{"http-equiv" => "content-type", :content => "text/html;charset=UTF-8"}
    %title= "#{yield(:title)} :: popravi.mk"
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />

    <meta name="keywords" content="#{yield(:keywords)}" />
    <meta name="description" content="#{yield(:description)}" />
    = yield(:head)

    = stylesheet_link_tag 'formtastic', 'ui-lightness/jquery-ui-1.8.10.custom.css', 'compiled/screen.css', :media => 'screen, projection', :cache => 'application_cached'

    = csrf_meta_tag

  %body{:id => body_id}
    #nav
      .wrapper

        %ul#app_nav
          %li
            = link_to new_problem_path, :class => "active" do
              = image_tag "icon1.png"
              = t('menu.report')
          %li
            = link_to municipality_root_path(@municipality.slug) do
              = image_tag "icon2.png"
              = t('menu.problems')
          %li
            = link_to municipality_posts_path(@municipality.slug) do
              = image_tag "icon5.png"
              = t('menu.blog')
                            
        %ul#user_nav
          - if user_signed_in?
            %li= link_to t('menu.my_reports'), user_problems_path
            %li= link_to t('menu.administration'), admin_root_path if current_user.is_admin?
            %li= link_to t('menu.settings'), edit_user_registration_path
            %li= link_to t('menu.sign_out'), destroy_user_session_path
          - else
            %li= link_to t('menu.sign_up'), new_user_registration_path
            %li= link_to t('menu.sign_in'), new_user_session_path
            
    #header_app
      .wrapper
        #logo
          %a{:href => "/"}
            =image_tag('logo.png')

    #middle
      .wrapper
        - flash.each do |key, msg|
          = content_tag :div, msg, :id => key
        = yield
        
    = render "layouts/footer"
    
    = javascript_include_tag 'jquery-1.4.4.min', 'jquery-ui-1.8.10.custom.min.js', 'rails', 'application', :cache => 'application_cached'
    = yield :script
    = render :partial => "shared/ga"
